extends ../layout

block content
    .container-fluid
        .row
            .col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
                ul.nav.nav-pills.flex-column
                li.nav-item
                    a.nav-link(href="/dashboard/forum") Home
                li.nav-item 
                    a.nav-link(href="/dashboard/collections") Collections
                li.nav-item
                    a.nav-link(href="/dashboard/groups") Groups
                li.nav-item
                    a.nav-link(href="/dashboard/profile") Profile
                li.nav-item
                    a.nav-link(href="dashboard/people") People
                li.nav-item
                    a.nav-link(href="dashboard/events") Events